window#aiwindow .ai-window-container {
  @include floating-widget;

  .model-label {
    margin-left: $radius * .5;
    color: lightgreen;
  }

  .box {
    margin-bottom: $spacing;
    margin-right: $spacing;

    label {
      margin-left: $radius * .5;
    }

    button {
      @include button;
      padding: $padding*.7 $padding;
    }
  }

  .ai-response-scrollable {
    @include scrollable;
    margin: 7px;

    .ai-message {
      font-size: 0.9rem;
      font-weight: bold;
    }

    .user {
      color: $primary-bg;
      padding-top: $padding;
      padding-bottom: $padding;
    }

    .assistant {
      color: #a6e3a1;
      padding-top: $padding;
      padding-bottom: $padding;
    }

    .ai-msg-content {
      border-radius: $radius;
      background-color: $bg;
    }
  }

  .ai-entry-box {
    padding: $padding;

    .text-box-scrollable {
      border-radius: $radius;
      padding: $padding + 3;
      border: $border;
      background: $bg;
    }

    .ai-send-button {
      min-width: 2rem;
      border-radius: $radius;
      color: $primary-bg;
      background-color: $bg;
    }
  }
}
